body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f7f4ed;
  color: #222;
}

header {
  text-align: center;
  padding: 24px;
  background-color: #1f1f1f;
  color: white;
}

.subtitle {
  margin-top: 8px;
  font-size: 14px;
  opacity: 0.8;
}

/* 地図 */
.map-section {
  position: relative;
  width: 100%;
}

.map-section img {
  width: 100%;
  display: block;
}

/* 点滅マーカー */
.marker {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #000;
  color: white;
  border: 2px solid #808080;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Meiryo UI", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  touch-action: manipulation;
  transform: translate(-50%, -50%);

  animation: blink 1.5s infinite;
}

/* 位置調整 */
.marker1 { top: 84.2%; left: 35.9%; }
.marker2 { top: 90.0%; left: 36.3%; }
.marker3 { top: 62.1%; left: 45.5%; }
.marker4 { top: 40.4%; left: 38.3%; }
.marker5 { top: 31.1%; left: 37.1%; }
.marker6 { top: 49.1%; left: 48.3%; }
.marker7 { top: 53.8%; left: 51.6%; }
.marker8 { top: 52.2%; left: 55.7%; }
.marker9 { top: 59.2%; left: 54.9%; }
.marker10 { top: 67.7%; left: 50.2%; }
.marker11 { top: 67.6%; left: 52.8%; }

@keyframes blink {
  50% {
    opacity: 0.3;
  }
}

@media (max-width: 600px) {
  .marker {
    width: 24px;
    height: 24px;
    border-width: 1px;
    font-size: 13px;
  }
}


/* スポットカード */
.spot-card {
  margin: 16px;
  background: white;
  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.spot-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.spot-content {
  padding: 16px;
}

.spot-title {
  font-size: 22px;
  margin-bottom: 12px;
}

.spot-description {
  line-height: 1.8;
  margin-bottom: 16px;
}

.map-button {
  display: inline-block;

  padding: 12px 18px;

  background: #222;
  color: white;

  text-decoration: none;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 24px;
  color: #777;
}
